.form {
    display: flex;
    flex-direction: column;
    background-color: #5B5F97;
    border-radius: 20px;
    padding: 20px;
    padding-bottom: 50px;
    margin:50px 200px;
}


@media screen and (max-width: 600px) {
    .form {
      margin: 0;
    }
  }


.form-section {
    padding: 20px;
}

label {
    padding-right: 20px;
}

button {
    background-color:#FF6B6C;
    color:#FFFFFB;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    margin-top: 20px;
    font-size: 20px;
    font-family: 'Krona One', sans-serif;
    font-size: 13px;
}

button:hover {
    background-color: #FFFFFB;
    color: #FF6B6C;
}

input {
    background-color: #B8B8D1;
    border-style: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 12px;
    font-family: 'Krona One', sans-serif;
}

select {
    background-color:#FF6B6C;
    border-style: none;
    color:#FFFFFB;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    font-family: 'Krona One', sans-serif;
    
}

.add-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;

}

.message{
    font-size: 20px;
    background-color: #FF6B6C;
    border-radius: 20px;
    width: 150px;
}

label{
    color: white;
}

